* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

header,
footer {
    height: 40px;
    background-color: black;
}

.background {
    background-image: url("background-image.png");
    width: 100%;
}

.main-block {
    padding: 0 5% 0 5%;
    margin: 0;
    width: 100%;
}

.top-block {
    border: 1px solid white;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.top-block-head {
    margin-bottom: 5px;
}

.logo-panel {
    display: inline-block;
}

.heading {
    display: inline-block;
    width: 62%;
    padding-left: 150px;
    opacity: 0.8;
}

.search-panel {
    display: inline-block;
    padding-right: 10px;
    text-align: center;
}

.top-block-foot {
    background-color: #9B726E;
    position: absolutes;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

li {
    list-style: none;
}
.menu-list {
    display: inline-block;
    padding-inline-start: 0px;
    margin: 0px;
    margin-block-end: 0;
    padding: 0 10px 0 0px;
}

.menu-ltem {
    display: inline-block;
    border-right: 1px solid white;
    padding: 0 10px 0 10px;
    color: white;
    font-weight: 500px
}


.phone {
    display: inline-block;
    color: white;
    font-weight: 500px;
    position: relative;
    right: 10px;
    float: right;
}


a {
    color: rgb(51, 37, 36);
}

.go-btn {
    background-color: #9B726E;
    border-color: #9B726E;
    width: 25px;
    padding: 1px;
    color: white;
}


/* .border {
    border: 1px solid aqua;
} */

/* Top Finish */

.body-block {
    background-color: white;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid white;
}

.body-block-left {
    width: 230px;
    padding: 5px 0px 0px 10px;
    border-top-left-radius: 8px;
    display: inline-block;
}

.products-block {
    margin-top: 5px;
    border: 1px solid #9B726E;
}

.products-block>ul {
    margin-block-end: 0;
}

.product-header {
    background-color: #9B726E;
    color: white;
    width: 100%;
    padding-left: 5px;
}

.product-item {
    list-style: none;
    margin-bottom: 2px;
}

.pdf-logo {
    width: 90%;
    margin-left: 5px;
}

.girl-image {
    margin-top: 5px;
    border: 1px solid #9B726E;
    position: relative;
}

.image-bar {
    background-color: white;
    opacity: 0.8;
    width: 100%;
    padding-left: 5px;
}

.assis-header::first-letter {
    font-size: 130%;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.pos-top {
    position: absolute;
    top: 0;
}

.pos-bottom {
    position: absolute;
    bottom: 0;
}

.update-block {
    margin-top: 5px;
    border: 1px solid #9B726E;
    margin-bottom: 5px;
}

.update-paragraph {
    width: 75%;
    padding-left: 40px;
    text-align: center;
    margin-top: 5px;
}

.chkeckbox {
    padding-left: 30px;
    margin-top: 3px;
}

.input-field {
    padding-left: 18px;
    margin-top: 5px;
}

.sign-up-btn {
    background-color: #9B726E;
    border-color: #9B726E;
    color: white;
    margin-left: 60px;
    margin-top: 5px;
}

.body-block-right {
    /* float: right; */
    display: inline-block;
    width: 75%;
}

.food-image {
    width: 100%;
    border-top-right-radius: 8px;
}
